
#top {
    background-color: rgba(50, 168, 162);
    padding: 5px 0px;
    text-align: center;

}
#subheading{
    background-color: white;
}
html, body {
    margin:0 ;
    background-color: orange;
}